@import './root-dark.css';
@import './root-light.css';

@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    --background-color: #111827;
    --text-color: #f9fafb;
    --secondary-background-color: #1f2937;
    --secondary-text-color: #272829;
    --border-color: #374151;
    --link-color: #3b82f6;
    --button-color: #3b82f6;
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.dark):not(.light) {
    --background-color: #ffffff;
    --text-color: #111827;
    --secondary-background-color: #f9fafb;
    --secondary-text-color: #6b7280;
    --border-color: #e5e7eb;
    --link-color: #2563eb;
    --button-color: #3b82f6;
  }
}
